---
import { Image } from "astro:assets";
import star from '../../../public/images/star.png';
import chrome from '../../../public/images/chrome.png';
---

<article class="border-4 border-black rounded-lg">
  <div class="p-6 flex flex-col">
    <h3 class="title-text mb-8">Create A Detailed Tutorial In Less Than 3 Clicks</h3>
    <button class="bg-black py-6 rounded-md items-center justify-center mb-14 text-white flex gap-2">
      <Image src={chrome} alt="chrome" class="w-8 h-8" />
      <p class="text-2xl">Install Wizardshot</p>
    </button>
    <p class="font-bold font-jackartaSans text-sm">“Has helped us write help docs 100x faster”<br />
      <span class="font-normal">– Dany River, Cartier Informatie</span>
    </p>
    <ul class="flex justify-center mb-4">
      <li><Image src={star} alt="star" class="" /></li>
      <li><Image src={star} alt="star" class="" /></li>
      <li><Image src={star} alt="star" class="" /></li>
      <li><Image src={star} alt="star" class="" /></li>
      <li><Image src={star} alt="star" class="" /></li>
    </ul>
  </div>
</article>