---
import { Image } from 'astro:assets'
import appLogo from '../../public/images/header/app-logo.png'
import hamburger from '../../public/images/header/hamburger-menu.png'
import xIcon from '../../public/images/header/x.png';
import chromeLogo from '../../public/images/chrome.png';
---
<header class="h-16 flex w-11/12 m-auto z-50 bg-white right-0 left-0 top-0 flex-col lg:w-3/4 lg:relative lg:flex-row lg:mt-10 menuTransition">
  <div class="flex justify-between items-center w-full h-16 lg:hidden">
    <div class="flex gap-1 items-center h-16">
      <Image src={appLogo} alt="app logo" class="w-5 h-5" />
      <p class="font-jakartaSans font-bold">Wizardshot</p>
    </div>
    <button id="hamburguerButton" class="block lg:hidden">
      <Image src={hamburger} alt="open menu" />
    </button>
    <button id="exitButton" class="hidden">
      <Image src={xIcon} alt="close menu" />
    </button>
  </div>
  <hr class="lg:hidden"/>
  <div id="hiddenMenu" class="hidden pt-10 lg:pt-0 lg:flex lg:justify-between lg:w-full lg:items-end">
    <div class="gap-1 items-center h-16 hidden lg:flex  lg:items-end">
      <Image src={appLogo} alt="app logo" class="w-5 h-5" />
      <p class="font-jakartaSans font-bold">Wizardshot</p>
    </div>
    <ul class="lg:flex lg:items-center lg:gap-3">
      <li class="menuLink"><a href="#mainTitle">Home</a></li>
      <li class="menuLink"><a href="#features">Features</a></li>
      <li class="menuLink"><a href="#About">About</a></li>
      <li class="menuLink"><a href="#questions">Help Center & Comunity</a></li>
      <li class="menuLink lg:hidden"><a>Login</a></li>
    </ul>
    <hr class="lg:hidden"/>
    <div class="flex flex-col justify-center items-center pt-10 gap-2 lg:flex-row lg:pt-0  lg:items-end">
      <li class="menuLink hidden lg:block"><a>Login</a></li>
      <div class="lg:flex lg:flex-col-reverse">
        <button class="button1">
          <Image src={chromeLogo} alt="chrome logo" class="w-5 h-5 mr-2" />
          Install Wizardshot
        </button>
        <p class="font-alphabetizedCassetteTapes font-bold text-sm hidden lg:block lg:m-auto">100% free, forever &#x1F911;</p>
      </div>
    </div>
  </div>
</header>


<script>
  const menu = document.querySelector('header');
  const hamburguerButton = document.getElementById('hamburguerButton');
  const exitButton = document.getElementById('exitButton');
  const hiddenMenu = document.getElementById('hiddenMenu');
  const liItems  = document.querySelectorAll('.menuLink');
  hamburguerButton.addEventListener('click', () => {
    toggleMenu();
  });
  exitButton.addEventListener('click', () => {
    toggleMenu();
  });
  liItems.forEach((el) => {
    el.addEventListener('click', () => {
      toggleMenu();
  });
  })

  const toggleMenu = () => {
    menu.classList.toggle('bottom-0');
    menu.classList.toggle('h-16');
    menu.classList.toggle('fixed');
    exitButton.classList.toggle('hidden');
    hamburguerButton.classList.toggle('hidden');
    hiddenMenu.classList.toggle('hidden');
  };
</script>
